/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/
.over-all-color{
	background-color:#FAEBD7
}
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color:#FAEBD7;
}
.text{
	display: flex;
	justify-content: center

}
.header-image{
	display: flex;
	justify-content: center
}
.spacer{
	display: flex;
	height: 20px;
}
.spacer-two{
	display: flex;
	height: 50px;
}
.blue{
	background-color:#87CEFA;
}
.lite-blue{
	background-color:#E0FFFF;
}
.creating-a-dog-description{
	display: flex;
	justify-content: center;
}

.directions-for-dog{
	width: 600px;
	padding:2px;
}
.center{
	display: flex;
	justify-content: center;
	padding:20px;

}
.container{
	display: flex;
	justify-content: center;
}
.row{
	display: flex;
	justify-content: center;
}
.choose-image-holder{
	display: flex;
	justify-content: center;
}
.dog-image{
	display: flex;
}
.image-setting{
  margin:10px;
}
.puppy-creator{
	display: flex;
	justify-content: center;
}

.dog-holder{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-around;
  width: 1000px;
  height: 700px;
  margin: auto;
}

.dog-description{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #E0FFFF;
	height: 400px;
	margin:10px;
	padding: 10px;
}
.your-dog-description{
	width: 600px;
	padding:2px;
}
.button{
	margin: 10px;
}
.input-setting{
	display:flex;
	flex-direction: row;
	padding:10px;
}
th {
  text-decoration: underline;
}

label {
  text-decoration: underline;
}