/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text{
	display: flex;
	justify-content: center

}
.header-image{
	display: flex;
	justify-content: center
}
.container{
	display: flex;
	justify-content: center;
}
.row{
	display: flex;
	justify-content: center;
}
.choose-image-holder{
	display: flex;
	justify-content: center;
}
.dog-image{
	display: flex;
	padding: 10px;
}
.puppy-creator{
	display: flex;
	justify-content: center;
}

.dog-holder{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 700px;
  height: 700px;
  margin: auto;
}

.dog-description{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}
th {
  text-decoration: underline;
}

label {
  text-decoration: underline;
}